<div class="container">
    <div class="hero">
        <h1>Welcome to Furever Dog Adoptions</h1>
        <p>Start here to learn about our mission and access all sections of the website.</p>
    </div>
</div>

<div class="features">
    <div class="feature-item">
        <h3>Adopters</h3>
        <p>Information on current and potential dog adopters. Manage adopter profiles, including search/add/delete operations.
        </p>
    </div>
    
    <div class="feature-item">
        <h3>Dogs</h3>
        <p>View details about each dog under our care, including their health status, breed, and availability for adoption. Manage dog profiles by search/add/update.
        </p>
    </div>
    
    <div class="feature-item">
        <h3>Events</h3>
        <p>Find out about upcoming events where you can meet our dogs in person. Manage events, including adding and searching event information.
        </p>
    </div>

     <div class="feature-item">
        <h3>Dog at Events</h3>
        <p>You can find dogs attending certain events, and add/update/delete/search the dogs at these events.
        </p>
    </div>   

    <div class="feature-item">
        <h3>Locations</h3>
        <p>Information on our various locations where dogs are housed and events take place. Add and search location details.
        </p>
    </div>
    
    <div class="feature-item">
        <h3>Vaccinations</h3>
        <p>Detailed records of vaccinations for each dog. This page includes add/search the vaccination.
        </p>
    </div>
    

</div>

